.Navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    background-color: transparent;
    width: -webkit-fill-available;
    z-index: 1000;
    background-color: transparent;
    color: #0da6f2d6;
}

.nav-logo {
    gap: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.logo-phone {
    position: relative;
    color: #32A9FD;
    top: 0px;
    left: 0px;
    font-size: 18px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.nav-menu li a {
    text-decoration: none;
    color: #0da6f2d6;
    font-weight: bold;
}

.nav-menu li:hover {
    margin: -1px;
    border: 1px solid #0da6f2d6;
}

.nav-menu li a:hover {
    color: #ffffff;
}

.nav-logo img {
    max-width: 120px;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 767px) {
    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        z-index: 999;
        font-size: 26px;
    }

    .mobile-nav-menu {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 200;
        text-align: left;
        color: #ffffff;
        flex-direction: column;
        justify-content: center;
        top: 0px;
        left: 0px;
    }

    .mobile-nav-menu li {
        justify-content: center;
        color: #ffffff;
        font-size: 28px;
    }

    .mobile-nav-menu li a {
        color: #0da6f2d6;
    }

    .hamburger-menu a {
        color: #0da6f2d6;
        vertical-align: middle;
        line-height: 74px;
    }

    .nav-menu li:hover {
        margin: -1px;
        border: 1px solid #0da6f2d6;
    }

    .nav-menu li a:hover {
        color: #ffffff;
    }

    .cls-color path {
        stroke: #ffffff;
    }
}